.emsContainer {
  /* background-color: #e5e5e5; */
  height: 2000px;
  width: 330px;
  margin: auto;
  text-align: justify;
  border: 1px solid #beb8b8;
  /* background-color: #E5E5E5; */
}
.bedContent {
  padding: 10% 10% 10% 10%;
}
.bedComponentContainer {
  padding: 0% 10% 7% 3%;
  border-bottom: 0.05px solid black;
}
a {
  text-decoration: none;
}

.title {
  text-align: center;
}
label {
  margin: 0% 0% 0% 3%;
}
input {
  margin: 0% 0% 5% 9.5%;
  position: relative;
  left: -130px;
  top: 21px;
}
.emsLink {
  margin: 10%;
}



.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}